In [1]:
import numpy as np
import pandas as pd
import re
import nltk
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import metrics, svm
from sklearn.model_selection import (
    train_test_split, learning_curve, StratifiedShuffleSplit, GridSearchCV,
    cross_val_score)

# Improve the readability of figures
sns.set_context('notebook', font_scale=1.4)
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
df = pd.read_csv('smp.csv', header=None)
df.head()

      0                                                  1
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5574 entries, 0 to 5573
Data columns (total 2 columns):
0    5574 non-null object
1    5574 non-null object
dtypes: object(2)
memory usage: 87.2+ KB

In [4]:
y = df[0]
y.value_counts()

ham     4827
spam     747
Name: 0, dtype: int64

In [5]:
le = LabelEncoder()
y_enc = le.fit_transform(y)

In [6]:
raw_text = df[1]

In [7]:
example = """  ***** CONGRATlations **** You won 2 tIckETs to Hamilton in 
NYC http://www.hamiltonbroadway.com/J?NaIOl/event   wORtH over $500.00...CALL 
555-477-8914 or send message to: hamilton@freetix.com to get ticket !! !  """

In [8]:
# Replace email addresses with 'emailaddr'
processed = raw_text.str.replace(r'\b[\w\-.]+?@\w+?\.\w{2,4}\b',
                                 'emailaddr')

# Replace URLs with 'httpaddr'
processed = processed.str.replace(r'(http[s]?\S+)|(\w+\.[A-Za-z]{2,4}\S*)',
                                  'httpaddr')

# Replace money symbols with 'moneysymb'
processed = processed.str.replace(r'£|\$', 'moneysymb')
    
# Replace phone numbers with 'phonenumbr'
processed = processed.str.replace(
    r'\b(\+\d{1,2}\s)?\d?[\-(.]?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}\b',
    'phonenumbr')
    
# Replace numbers with 'numbr'
processed = processed.str.replace(r'\d+(\.\d+)?', 'numbr')

In [9]:
# Remove punctuation
processed = processed.str.replace(r'[^\w\d\s]', ' ')

# Replace whitespace between terms with a single space
processed = processed.str.replace(r'\s+', ' ')

# Remove leading and trailing whitespace
processed = processed.str.replace(r'^\s+|\s+?$', '')

In [10]:
# Lowercase the corpus
processed = processed.str.lower()

In [12]:
# Access stop words
import nltk
nltk.download('stopwords')
stop_words = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ML-31\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [13]:
# Remove all stop words
processed = processed.apply(lambda x: ' '.join(
    term for term in x.split() if term not in set(stop_words))
)

In [14]:
# Remove word stems using a Porter stemmer
porter = nltk.PorterStemmer()
processed = processed.apply(lambda x: ' '.join(
    porter.stem(term) for term in x.split())
)

In [15]:
def preprocess_text(messy_string):
    assert(type(messy_string) == str)
    cleaned = re.sub(r'\b[\w\-.]+?@\w+?\.\w{2,4}\b', 'emailaddr', messy_string)
    cleaned = re.sub(r'(http[s]?\S+)|(\w+\.[A-Za-z]{2,4}\S*)', 'httpaddr',
                     cleaned)
    cleaned = re.sub(r'£|\$', 'moneysymb', cleaned)
    cleaned = re.sub(
        r'\b(\+\d{1,2}\s)?\d?[\-(.]?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}\b',
        'phonenumbr', cleaned)
    cleaned = re.sub(r'\d+(\.\d+)?', 'numbr', cleaned)
    cleaned = re.sub(r'[^\w\d\s]', ' ', cleaned)
    cleaned = re.sub(r'\s+', ' ', cleaned)
    cleaned = re.sub(r'^\s+|\s+?$', '', cleaned.lower())
    return ' '.join(
        porter.stem(term) 
        for term in cleaned.split()
        if term not in set(stop_words)
    )

In [16]:
(processed == raw_text.apply(preprocess_text)).all()

True

In [17]:
preprocess_text(example)

'congratl numbr ticket hamilton nyc httpaddr worth moneysymbnumbr call phonenumbr send messag emailaddr get ticket'

In [23]:
# Construct a design matrix using an n-gram model and a tf-idf statistics
vectorizer = TfidfVectorizer(ngram_range=(1, 2))
X_ngrams = vectorizer.fit_transform(processed)
print(X_ngrams)

  (0, 11197)	0.08721356032087837
  (0, 15282)	0.21755399345698703
  (0, 24356)	0.1485532379770508
  (0, 5922)	0.16848256333405198
  (0, 1782)	0.1640422605289515
  (0, 3507)	0.18379184898751993
  (0, 12004)	0.12040532183020015
  (0, 35458)	0.1458444222546338
  (0, 15846)	0.18379184898751993
  (0, 3502)	0.2076791992277028
  (0, 4768)	0.18379184898751993
  (0, 11755)	0.10199478142484514
  (0, 925)	0.21755399345698703
  (0, 34200)	0.12018085720716995
  (0, 11295)	0.21755399345698703
  (0, 15283)	0.21755399345698703
  (0, 24359)	0.21755399345698703
  (0, 5924)	0.21755399345698703
  (0, 1784)	0.21755399345698703
  (0, 3509)	0.21755399345698703
  (0, 12067)	0.21755399345698703
  (0, 35471)	0.21755399345698703
  (0, 15847)	0.21755399345698703
  (0, 3503)	0.21755399345698703
  (0, 4774)	0.21755399345698703
  :	:
  (5572, 28671)	0.14488027795689332
  (5572, 3593)	0.14411251768810826
  (5572, 8190)	0.17215930429771897
  (5572, 10590)	0.19421887218941755
  (5572, 12398)	0.1473246697424214
  (5572, 14756)	0.18588507709449853
  (5572, 20460)	0.19188089551845536
  (5572, 186)	0.21050560867390294
  (5572, 2827)	0.20636361361856617
  (5572, 28683)	0.22140036745652777
  (5572, 12401)	0.24002508061197533
  (5572, 2828)	0.24002508061197533
  (5572, 188)	0.24002508061197533
  (5572, 16658)	0.24002508061197533
  (5572, 14757)	0.24002508061197533
  (5572, 3637)	0.24002508061197533
  (5572, 8196)	0.24002508061197533
  (5572, 34495)	0.24002508061197533
  (5572, 10599)	0.24002508061197533
  (5572, 33361)	0.24002508061197533
  (5573, 19952)	0.33027995320038805
  (5573, 32544)	0.3617660735608732
  (5573, 26303)	0.47627119372943744
  (5573, 26305)	0.516336232777555
  (5573, 32557)	0.516336232777555

In [19]:
X_ngrams.shape

(5574, 36344)

In [20]:
# Prepare the training and test sets using an 80/20 split
X_train, X_test, y_train, y_test = train_test_split(
    X_ngrams,
    y_enc,
    test_size=0.2,
    random_state=42,
    stratify=y_enc
)

# Train SVM with a linear kernel on the training set
clf = svm.LinearSVC(loss='hinge')
clf.fit(X_train, y_train)

# Evaluate the classifier on the test set
y_pred = clf.predict(X_test)

# Compute the F1 score
metrics.f1_score(y_test, y_pred)

0.951048951048951

In [21]:
# Display a confusion matrix
pd.DataFrame(
    metrics.confusion_matrix(y_test, y_pred),
    index=[['actual', 'actual'], ['spam', 'ham']],
    columns=[['predicted', 'predicted'], ['spam', 'ham']]
)

            predicted
                 spam  ham
actual spam       965    1
       ham         13  136